# Maven
target/
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Anypoint Studio
.project
.classpath
.settings/
.mule/
.tooling/
bin/
tmp/
logs/
wrapper/
test-classes/
classes/